<!DOCTYPE html>
<div>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {font-family: Arial, Helvetica, sans-serif;}
      form {border: 3px solid #f1f1f1;}



      button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        opacity: 0.8;
      }



      .container {
        height: 250px;
        width: 40%;
        background-color: lightgreen;
        margin-bottom: 25px;
        border-style: inset;
        margin-top: 100px;
      }
      body, html {
        height: 100%;
        margin: 0;
        background-color: black;
      }

    </style>
  </head>

  <div class="container"><h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit "Send me reset password instructions" ,class:"btn-btn-primary"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</form>
</div>
</div>
</body>

</html>